
img{
    height: 250px;
    width: 100%;

}
*{
    padding: 0;
    margin: 0;

}
nav{
    color: azure;
}
input{
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    
}

.searchbar {
    
    color: #f2f2f2;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
body{
    background: url(himalayas-mountain-range-sunrise-winter-above-clouds-2560x1440-1165.jpg);
    background-size: 40%;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.one{
    background-color: aliceblue;
    display: inline-block;
    height: 200px;
    width: 50%;
    margin-left: 25%;
    
}
.s{ 
    text-align: center;
    background-color: aliceblue;
    cursor: pointer;
    
    height:300%;

    
}
select{
    width: 51%;
    padding: 10px;
    
    
}
tr{
    padding: 10px;
    background-color: yellowgreen;
}
input{
    margin: 1px;
    cursor: pointer;
}
nav{
    background-color: white;
    color: black;
    display: inline-block;
    width: 50%;
}
li,h5,ul{
    display: inline;
    

}
ul{
    margin-left: 30%;
    
}
li{
    color: #00e5ffe5;
    cursor: pointer;
    display: inline-block;
    flex-wrap: wrap;
    justify-content:space-around;
}
li:hover{
    color: black;
}
