*{
    padding: 0;
    margin: 0;

}
nav{
    color: azure;
}
.check div{

        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       background-color: white;
        cursor:pointer;
        margin: 5px ;
        color: grey;
    
}

.searchbar input {
    
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    margin: 20px auto;
    display: block;
}
.searchbar {
    position:relative;
    
}

img{
    width: 100%;
    height: 300px;
    position:absolute;
    
}
.check{ 
    text-align: center;
    position: relative;
        padding: 2px;
        width: 50%;
        margin-left: 25%;
   
    
    
}


input{
    
    margin: 10px;
    cursor: pointer;
    
    
}
nav{
    
    color: black;
    display: inline-block;
    width: 100%;
}
li,h6,ul{
    display: inline-block;
    height: 15px;
    

    

}
h6{
    color: gray;
    display: flex;
    align-items: end;
   
}
ul{
    
    display:flex;
    justify-content: space-between;
    
    
}
li{
    color: #00e5ffe5;
    cursor: pointer;
    
}
li:hover{
    color: black;
}

#check1{
    display: flex;
  
}
#check2{
    display: flex;

}
#check3
{
    display: flex;

}
#check4{
    display: flex;
 
}
#check5{
    display: flex;
  
    
}
#check0{
    display: flex;
    
}
.id{
    color: gray;
}
.todo{
    color: aliceblue;
    margin-right: 400px;
    justify-content: center;
    position: relative;
    padding-top: 150px;
    display: flex;
    
    
}
.color hr{
    color:white;
    
}